**/*.un~
**/.coverage
**/.gittemplate
**/.pylintrc
**/.vscode
**/config.ini
**/.venv/
**/.idea/
**/.mypy_cache/
**/.pytest_cache/
**/.tags/
**/__pycache__/
**/build/
**/dist/
**/htmlcov/
**/venv*/
**/.hypothesis/
**/*.pyc
**/client.spec
