**/*.un~
**/.coverage
**/.gittemplate
**/.pylintrc
**/.vscode
**/config.ini
**/pydex.json
**/requirements_dev.txt
**/.venv/
**/.idea/
**/.mypy_cache/
**/.nixvenv/
**/.pytest_cache/
**/.tags/
**/__pycache__/
**/build/
**/dist/
**/htmlcov/
**/pydex_jshwi.egg-info/
**/venv*/
**/.hypothesis/
!/src/reverse_shell/dist/
